p.admin-title{
    font-size: 3em;
}

.admin-app-container{
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
    border-radius: 1em;
    background-color: white;
}   

.doc-photo{
        width: 8em;
        height: 8em;
        object-fit: cover;
    }